<div class="row">
  <h1>The opportunity</h1>
</div>

<div class="row">
  <div class="twelve columns">
    <p>
      We’re taking part in the R9 Accelerator programme from early March until early June. The R9 Accelerator brings the public and private sectors together to work on real problems impacting businesses.   <a href="http://www.r9accelerator.co.nz/">Find out more...</a>
    </p>
  </div>
</div>

{% for item in site.data.opportunity %}
<div class="row">
  <div class="twelve columns">
    <p>We’ve spoken with over 30 small business owners about compliance. The problem that resonates with most is they lack confidence they’ve got their employment compliance right. Employment law is forever changing and business owners are often unsure how these changes apply to them. Assuring business owners have got employment compliance right, from the start, mitigates the big potential risks of getting it wrong and gives business owners back confidence so they can focus on running their business.</p>
  </div>
</div>
